@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Times New Roman", serif;
  background-color: #f3e4ce;
}

.z-index-5 {
  z-index: 5;
}

.text-xxs {
  font-size: 0.5rem;
  line-height: 0.75rem;
}

.text-3xs {
  font-size: 0.25rem;
  line-height: 0.5rem;
}

.placeholder-text-xs::placeholder {
  font-size: 0.75rem;
}